div.suscribe_div {
    width: 350px;
    height: 150px;
    background-color: #FAFAFA;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 15px;
}

div.register_div {
    width: 350px;
    height: 200px;
    background-color: #FAFAFA;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 15px;
}

div.test{
    width: 350px;
    height: 250px;
    position: absolute;
    margin-left: 20%;
    margin-top: 20%;
}
#centered {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
}

label {
display: block;
width: 150px;
float: left;
font-size: 18;
text-align: right;
}

input {
	text-align: left;
	margin-left: 15px;
}

input[type="submit"]{
    font-size: 16px;
}